@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.header,
.footer,
.hero-sec {
  background-color: #1f2937;
  color: white;
}

/* Styling for Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100vh;
  padding: 0 16px;
  margin: 0 0 auto 0;
}

.header-logo img {
  height: 100px;
  width: 160px;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 8px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  text-decoration: underline;
  font-weight: 700;
}

/* Styling for Main-Container */
.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Styling for Hero-Section */
.hero-sec {
  display: flex;
  gap: 16px;
  padding: 80px 120px 140px;
  justify-content: center;
  align-items: center;
}

.hero-sec h1 {
  font-size: 48px;
  padding: 0;
  margin: 0;
}

.hero-sec .button {
  background-color: #3b82f6;
  border: none;
  border-radius: 2.5px;
  padding: 8px 36px;
}

.hero-sec .button a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}

.hero-sec .hero-content a {
  color: skyblue;
  font-weight: 600;
  text-decoration: none;
}

.hero-sec .hero-content a:hover {
  text-decoration: underline;
  font-weight: 900;
  color: red;
}

.hero-sec img {
  height: 200px;
  width: 300px;
  border-radius: 10.2px;
}

/* Styling for Cards Section */

.cards-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  padding: 16px 0;
  flex: 1;
}

.cards-sec h3 {
  font-size: 36px;
  text-align: center;
  padding: 16px 0;
  margin: 0;
}

.cards-main {
  display: flex;
  /* border: 2px solid black; */
  justify-content: space-between;
  align-items: flex-start;
  min-width: 100vh;
  gap: 8px;
  padding: 0 16px;
  margin: 0;
  flex: 1;
}

.card1,
.card2,
.card3,
.card4 {
  height: auto;
  width: 250px;
}

.card-img {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex: 1;
}

.card-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px 8px;
}

.cards-sec img {
  border: 1px solid skyblue;
  padding: 6px;
  height: 250px;
  width: 150px;
}

/* Styling for Quote Section */
.quote-sec {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 140px 160px;
  gap: 16px;
}

.quote-box {
  font-size: 36px;
  color: #1f2937;
  font-variant: normal;
  font-style: italic;
  text-align: justify;
}

.author-box {
  font-weight: 1000;
  color: #000000;
  text-align: end;
}

/* Styling for Call-to-Action Section */
.cta-sec {
  display: flex;
  justify-content: center;
  color: #ffffff;
  align-items: center;
  flex: 1;
  padding: 180px 200px;
}

.cta-sec h3 {
  font-size: 36px;
  padding: 0;
  margin: 0;
}

.cta-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  background-color: #3882f6;
  padding: 40px 100px;
  border-radius: 6.5px;
  gap: 32px;
}

.cta-sec button {
  background-color: #3882f6;
  border: none;
  border-color: #ffffff;
  border-radius: 8px;
  padding: 12px 46px;
}

.cta-btn {
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.cta-sec a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

.cta-sec a:hover {
  text-decoration: underline;
  color: #362B2B;
  font-weight: 1000;
}

/* Styling for Footer */
.footer {
  text-align: center;
  padding: 32px 0;
  margin: auto 0 0 0;
  min-width: 100vh;
}
